<section class="section">
    <div class="container">
        <h4 class="has-text-weight-bold is-italic">I can accept failure, but I can’t accept not trying – Michael Jordan
        </h4>
        <hr />
    </div>
    <div class="container">
        <p class="mb-4">Hello! My name is Hendra. I am a Dev Dad.</p>
        <p class="mb-4">My interest in web technology probably started around my high school years when my good
            friend
            introduced me to it. I launched my first personal awesome site using Yahoo website builder with 52k
            dialup modem (don't cringe yet). It's a cool site with fireworks, counters, and background song (you can
            cringe)! I
            was amazed by how fast and easy I could share information to my friends and the world. Technology does
            make our lives easier!</p>
        <p class="mb-4">With this personal site, I would like to do a little self promotion (<a
                routerLink="/resume">resume</a>) and connect with other problem solvers. With my <a
                href="https://bloqku.com/" target="blank">blog</a>, I want to try sharing more how-to. You can think
            of it as my version of documentation after learning new things.</p>
        <p class="mb-4">If you are in Jakarta getting bored reading my intro and hungry, how about ordering some food
            at <a href="http://andriaskitchen.com/" target="blank">Andria's Kitchen</a> (sister in law's
            catering).</p>
        <p class="mb-4">If you are a sports cards collector, checkout <a href="https://tolektor.com/" target="blank">Tolektor</a>. I am also open for trades!</p>
        <p><br />Hendra Ng</p>
    </div>
</section>